@media print {
  /* Poori screen hide karo */
  body * {
    visibility: hidden;
  }
  /* Sirf table container aur uske bacchon ko dikhao */
  #printable-data, #printable-data * {
    visibility: visible;
  }
  /* Table ko page ke top-left mein set karo */
  #printable-data {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  /* Agar table mein 'Action' column (Edit/Delete) nahi chahiye print mein */
  .no-print {
    display: none !important;
  }
}
/* Dragging ke waqt row ki styling */
.cdk-drag-preview {
  display: table;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.cdk-drag-placeholder {
  opacity: 0; /* Jahan se row uthayi wahan khali jagah dikhegi */
}
/* 🔥 readonly look */
.readonly-mode input,
.readonly-mode select,
.readonly-mode textarea {
  background-color: #f3f4f6;   /* light gray */
  color: #6b7280;              /* dull text */
  cursor: not-allowed;
}

/* border bhi halka */
.readonly-mode input,
.readonly-mode select {
  border-color: #d1d5db;
}

/* checkbox bhi */
.readonly-mode input[type="checkbox"] {
  accent-color: gray;
}
/* Blink Effect Class */
.row-blink {
  /* 1s duration, 3 times repeat (Total 3 seconds) */
  animation: blink-bg 1s ease-in-out 3; 
  
  /* Blue border focus ke liye */
  border: 2px solid #2563eb !important; 
  
  /* Transition taaki border smooth dikhe */
  transition: border 0.3s ease;
}

@keyframes blink-bg {
  0% { background-color: #ffffff; }
  50% { background-color: #dbeafe; } /* Light Blue color */
  100% { background-color: #ffffff; }
}