.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Smooth Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease;
}
/* Toast ka z-index increase karo taaki wo navbar ke upar rahe */
.swal2-container {
    z-index: 999999 !important;
}

/* Toast ko middle-right corner ya center me lane ke liye */
.swal2-toast-container {
    top: 80px !important; /* Navbar ki height ke hisaab se adjust karein */
    right: 20px !important;
}

/* Agar center me lana hai toh ye use karein */
/* .swal2-toast-container {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
} 
*/