name: Cavalier Angular CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 69.62.73.69
          username: root
          key: ${{ secrets.CAVALIER_FRON }}
          script: |
            cd /var/www
            rm -rf Cavalier_fron
            git clone git@github.com:dbvertexphp/Cavalier_fron.git
